* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 90%
}

#fileTree {
    width: 30%; /* FIXME: temporary */
    height: 80vh; /* FIXME: temporary */
    overflow-y: scroll;
    padding: 1em
}

#fileList {
    width: 70%; /* FIXME: temporary */
    height: 80vh; /* FIXME: temporary */
    overflow-y: scroll;
    padding: 1em
}

ul {
    list-style: none;
}

li ul {
    padding-left: 2.5em;
}

li {
    padding: 0.4em 0;
}

.expandFolderBtn {
    font-size: 0.75em;
    margin-right: 0.2em;
}

.active {
    background-color: grey;
}

audio {
    height: 1.25em;
    width: 100%;
    margin: 1em 0;
    background-color: white;
}

audio::-webkit-media-controls-panel {
    background-color: white;
}